# Clock settings
d-i clock-setup utc boolean true
d-i clock-setup/ntp boolean true

# Locale settings
d-i debian-installer/locale string en_AU
d-i time/zone string Australia/Melbourne
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/layoutcode string us
d-i pkcsel/install-language-support boolean false

# Network configs
d-i netcfg/get_hostname string this-host
d-i netcfg get_domain string this-host

# Encrypt hard drive
d-i partman-auto/method string crypto
d-i partman-crypto/passphrase password temporarypassword
d-i partman-crypto/passphrase-again password temporarypassword
d-i partman-crypto/confirm boolean true

# Partition hard drive
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Enable extras.ubuntu.com.
d-i	apt-setup/extras	boolean true

# Setup Ubuntu Desktop
tasksel tasksel/first multiselect ubuntu-desktop, standard

# Grub setup
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

# User setup
d-i passwd/user-fullname string ubuntu
d-i passwd/username string ubuntu
d-i passwd/user-password password ubuntu
d-i passwd/user-password-again password ubuntu
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak boolean true

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# Monitor autodetection is recommended.
xserver-xorg xserver-xorg/autodetect_monitor boolean true
# Uncomment if you have an LCD display.
#xserver-xorg xserver-xorg/config/monitor/lcd boolean true
# X has three configuration paths for the monitor. Here's how to preseed
# the "medium" path, which is always available. The "simple" path may not
# be available, and the "advanced" path asks too many questions.
xserver-xorg xserver-xorg/config/monitor/selection-method \
       select medium
xserver-xorg xserver-xorg/config/monitor/mode-list \
       select 1024x768 @ 60 Hz

# post-install bootstrapping
d-i preseed/late_command string \
  in-target wget -O /root/desktop-bootstrap.sh "http://10.0.2.2:9000/ubuntu-desktop-bootstrap.sh"; \
  in-target chmod +x /root/desktop-bootstrap.sh; \
  in-target /root/desktop-bootstrap.sh; \
  cp /var/log/syslog /target/root/log/install-syslog;
